In [6]:
n = 100
if type(n) is type(int()):
    print(n)

100

In [8]:
2-1//6 and 3

3

In [28]:
a = [1,2,3]
b = {1:4,2:5}
a.extend(b)
a

[1, 2, 3, 1, 2]

In [31]:
a.insert(100,-1)
a

[1, 2, -1, 3, 1, 2, 2, -1]

In [33]:
a.pop()
a

[1, 2, -1, 3, 1, 2, 2]

In [1]:
del a[-1]
a

NameError: name 'a' is not defined

In [2]:
a.remove(2)
a

NameError: name 'a' is not defined

In [3]:
d = {1:2,2:3,3:4}
for i in d.items():
    print(i)

(1, 2)
(2, 3)
(3, 4)

In [4]:
d[4]=5
d

{1: 2, 2: 3, 3: 4, 4: 5}

In [5]:
d.update({3:87,67:76})
d

{1: 2, 2: 3, 3: 87, 4: 5, 67: 76}

In [6]:
del d[67]
d

{1: 2, 2: 3, 3: 87, 4: 5}

In [7]:
d.pop(4)
d

{1: 2, 2: 3, 3: 87}

In [8]:
a = int(input("Enter number1 : "))
b = int(input("Enter number2 : "))
o = input("Enter the opetrator +,-,*,/ : ")
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def div(a,b):
    return a/b
if o=='+':
    res = add(a,b)
elif o=='-':
    res = sub(a,b)
elif o=='*':
    res = mul(a,b)
elif o=='/':
    res = div(a,b)
print(res)

Enter number1 :

ValueError: invalid literal for int() with base 10: ''

In [9]:
res = lambda a,b : a+b
res(6,7)

13

In [10]:
a = int(input("Enter number1 : "))
b = int(input("Enter number2 : "))
try:
    res = a/b
    print(res)
except ZeroDivisionError:
    print("number 2 can't be zero")

Enter number1 :

ValueError: invalid literal for int() with base 10: ''

In [11]:
a = [1,2,3]
b = [4,5,6]
c = list(map(res,a,b))
c

[5, 7, 9]

In [12]:
import os
os.listdir()

['.DS_Store',
 'Untitled.ipynb',
 'Tic Tac Toe.ipynb',
 'calc.ipynb',
 'sample.dat',
 'calc.py',
 '.ipynb_checkpoints',
 '.git']

In [28]:
import calc
a = calc.sub(5,6)
a

-1

In [30]:
import calc
calc.add(6,8)

14

In [32]:
import calc
b = calc.div(7,3)
b

2.3333333333333335

In [33]:
with open('sample.txt','w') as f:
    f.write('hello\n')
    f.write('this is vinay.\n')

In [34]:
with open('sample.txt','r') as f:
    print(f.read())

hello
this is vinay.

In [39]:
l = ['a','b','c','d']
with open('sample.txt','w') as f:
    f.writelines(l)
with open('sample.txt','r') as f:
    print(f.readlines())

['abcd']

In [45]:
import pickle
a = [1,2,3,4,5,6]
with open('sample.dat','wb') as f:
    pickle.dump(a,f)
with open('sample.dat','rb') as f:
    r = pickle.load(f)
    print(r)

[1, 2, 3, 4, 5, 6]

In [87]:
class A:
    def __init__(self):
        self.a = 10
        self.b = 20
    def pa(self):
        print(self.a)
    def pb(self):
        print(self.b)
class B(A):
    def __init__(self):
        A.__init__(self)
    def pc(self):
        print('This is child class',self.a,self.b)
    def pf(self):
        print(self.a,self.b)
class C(B):
    def pd(self):
        print('This is multilevel inheritance',self.a,self.b)
class D(A):
    def pe(self):
        print('This is second child of class A',self.a,self.b)

In [74]:
a = A()
b = B()
b.pc()

This is child class 10 20

In [75]:
c = C()
c.pd()

This is multilevel inheritance 10 20

In [76]:
d = D()
d.pe()

This is second child of class A 10 20

In [88]:
b = B()
b.pf()

10 20

In [89]:
a = input("Enter a number : ")
a = int(a[::-1])
print(f"Reverse of the number : {a}")

Enter a number : 23675267
Reverse of the number : 76257632

In [112]:
a = input("enter a word : ")
b = a[::-1]
if a==b:
    print('palindrome')
else:
    print('Not Palindrome')

enter a word : ababa
palindrome

In [ ]:
a = input("enter a 3-digit number : ")
s = 0
for i in a:
    s += int(i)**3
if s==int(a):
    print("Armstrong")
else:
    print("Not an Armstrong")
print(s)

In [105]:
a = int(input(" Enter 1 for Area of square\n Enter 2 for Area of Rectange\n Enter 3 for Area of Triangle"))
if a==1:
    l = int(input("Enter length of square : "))
    print("Area of Square :", l**2)
elif a==2:
    l = int(input("Enter length of rect : "))
    b = int(input("Enter breadth of rect : "))
    print("Area of Rect :", l*b)
elif a==3:
    b = int(input("Enter base length of triangle : "))
    h = int(input("Enter height of triangle : "))
    print("Area of Triangle :",0.5*b*h)

 Enter 1 for Area of square
 Enter 2 for Area of Rectange
 Enter 3 for Area of Triangle2
Enter length of rect : 4
Enter breadth of rect : 5
Area of Rect : 20

In [107]:
n = 5
while n<=100:
    print(n,end = ",")
    n+=5

5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100,

In [108]:
n = 100
while n>0:
    print(n,end=",")
    n-=2

100,98,96,94,92,90,88,86,84,82,80,78,76,74,72,70,68,66,64,62,60,58,56,54,52,50,48,46,44,42,40,38,36,34,32,30,28,26,24,22,20,18,16,14,12,10,8,6,4,2,

In [114]:
a = input("Enter a number : ")
s=0
for i in a:
    s += int(i)
print("Sum of Digits :",s)

123
Sum of Digits : 6

In [117]:
def fib(n):
    if n==1:
        return 0
    if n==2:
        return 1
    res = fib(n-1)+fib(n-2)
    return res
print(fib(6))

5

In [2]:
a = input("Enter a string : ")
b = r = a
v = ['a','e','i','o','u']
for i in a:
    if i not in v:
        b = b.replace(i," _ ")
        r = r.replace(i,"_")
for i in range(10):
    print("*")
print("Guess the word :",b)
print("You have 10 Attempts")
score = 20
g = []
for i in range(1,11):
    c = input(f"Attempt-{i} : ")
    if c in g:
        print("You have entered the same character again. Penalty -2")
        score = score-2
    elif c in a and c not in r:
        g.append(c)
        j = a.index(c)
        r = r[:j]+c+r[j+1:]
        print("Entered letter is in string")
        print(r.replace("_"," _ "))
    elif c not in a:
        print("The letter is not in string")
        score = score-1
    if r==a:
        print("The word is complete.",r)
        print("Your final score : ",score)
        break
if r!=a:
    print("You have used all attempts")
    print("The word to guess is ",a)

Enter a string : python
*
*
*
*
*
*
*
*
*
*
Guess the word :  _  _  _  _ o _
You have 10 Attempts
Attempt-1 : p
Entered letter is in string
p _  _  _ o _
Attempt-2 : y
Entered letter is in string
py _  _ o _
Attempt-3 : n
Entered letter is in string
py _  _ on
Attempt-4 : h
Entered letter is in string
py _ hon
Attempt-5 : h
You have entered the same character again. Penalty -2
Attempt-6 : r
The letter is not in string
Attempt-7 : k
The letter is not in string
Attempt-8 : v
The letter is not in string
Attempt-9 : m
The letter is not in string
Attempt-10 : t
Entered letter is in string
python
The word is complete. python
Your final score :  14

In [11]:
l = [6,3,4,5,2,1,9,7,8,100]
l.sort(reverse = True)
#l.reverse()
#l.index(2)
l

[100, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [10]:
print("hello",'hel','tic',end="++")

hello hel tic++

In [12]:
d = {1:1,2:2,3:3,4:4}
print(d.items())
print(d.keys())
print(d.values())
print(len(d))

dict_items([(1, 1), (2, 2), (3, 3), (4, 4)])
dict_keys([1, 2, 3, 4])
dict_values([1, 2, 3, 4])

In [13]:
d.update({2:56})
d

{1: 1, 2: 56, 3: 3, 4: 4}

In [18]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

9
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

In [19]:
n = int(input())
if n%2==0:
    print('Even')
else:
    print('Odd')

98
Even

In [21]:
a = list(map(int,input("Enter 3 digits seperated by space : ").split()))
print(max(a))
b,c,d = a

Enter 3 digits seperated by space : 2 46 3
46

In [25]:
n = input("enter a number : ")
if n[-1]=='7' or int(n)%7==0:
    print("Buzz")
else:
    print("Not a Buzz")

enter a number : 564567
Buzz

In [27]:
a = int(input("enter number-1 : "))
b = int(input("enter number-2 : "))
if a%b==0:
    print("Number-1 is divisible by Number-2")
else:
    print("Number-1 is not divisible by Number-2")

enter number-1 : 10
enter number-2 : 2
Number-1 is divisible by Number-2

In [36]:
import math
n = int(input("Enter a number : "))
def is_prime(k):
    if k==2 or k==3:
        return True
    for i in range(2,int(math.sqrt(n))+1):
        if k%i==0:
            return False
    return True 
if is_prime(n):
    print(f'{n} is Prime')
else:
    print(f'{n} is Not Prime')

Enter a number : 19
19 is Prime

In [37]:
n = int(input("Enter a number : "))
print(f"Factors of {n} are : ",end = " ")
for i in range(1,n+1):
    if n%i==0:
        print(i,end = ",")

Enter a number : 15
Factors of 15 are :  1,3,5,15,

In [38]:
a = 'python'
for i in a:
    if i=='h':
        break
    print(i,end="")

pyt

In [45]:
a = 'python'
i=0
while i<3:
    print(a[i],end='')
    i+=1

pyt

In [39]:
a = 'python'
for i in a:
    if i=='t':
        continue
    print(i,end="")

pyhon

In [42]:
n = int(input("Enter temperature in celcius : "))
f = (n*1.8)+32
print(f'Temperature in farenheit : {f}')

Enter temperature in celcius : 23
Temperature in farenheit : 73.4

In [48]:
n = int(input("Enter a number : "))
s = 0
for i in range(1,n):
    if n%i==0:
        s = s+i
if s==n:
    print(f'{n} is a perfect number')
else:
    print(f'{n} is not a perfect number')

Enter a number : 10
10 is not a perfect number

In [49]:
x = 3
y = x
x = 5
print(x,y)

5 3

In [54]:
def GL(a,b):
    s1 = set()
    s2 = set()
    for i in range(1,a+1):
        if a%i==0:
            s1.add(i)
    for i in range(1,b+1):
        if b%i==0:
            s2.add(i)
    l = list(s1.intersection(s2))
    lcd = min(l)
    gcd = max(l)
    return [lcd,gcd]
x = lambda a,b : GL(a,b)
print(x(4,20))

[1, 4]

In [55]:
gcd = lambda a,b : gcd(b,a%b) if b!=0 else a
lcd = lambda a,b : a*b//gcd(a,b)

In [68]:
a = "out"
class Hell:
    def __init__(self,b,c):
        self.a = 'in'
        self.b = b
        self.c = c
    def da(self):
        print(self.a)
    def db(self):
        print(self.b)
c = Hell(4,5)
c.db()

4

In [76]:
class p1:
    def v(self):
        print('This is class p1')
class p2(p1):
    def v(self):
        print('This is class p2')
class p3(p2,p1):
    pass
a = p3()
a.v()

This is class p2

In [85]:
class p1:
    def v(self):
        print('This is class p1')
class p2(p1):
    def v(self):
        super().v()
        print('This is class p2')
class p3(p2):
    def v(self):
        super().v()
        print('This is class p3')
a = p3()
a.v()

This is class p1
This is class p2
This is class p3

In [109]:
class p1:
    def v(self):
        print('instance')
        
    def v2():
        print('static')
    
    @classmethod
    def v3(p1):
        print('class')
        
a = p1()
a.v()
p1.v2()
p1.v3()
a.v3()

instance
static
class
class

In [112]:
class square:
    def Area(self,a):
        print(a*a)
    def Area(self):
        print("Area")
s = square()
s.Area()

Area

In [122]:
x = 100
y = 0
print(y and x)

0

In [126]:
a = 5,00,000

In [127]:
print(a)

(5, 0, 0)

In [130]:
print('2'==2)

False

In [140]:
import re
p = re.match('hell*o','heloooooooo world')
print(p)

<re.Match object; span=(0, 4), match='helo'>

In [141]:
import re
p = re.match('hell+o','helloooooooo world')
print(p)

<re.Match object; span=(0, 5), match='hello'>

In [146]:
import re
p = re.search('hell*o',' faf du plesis heloooooooo world hello')
print(p)

<re.Match object; span=(15, 19), match='helo'>

In [144]:
import re
p = re.findall('hell*o',' faf du plesis heloooooooo world hello')
print(p)

['helo', 'hello']

In [156]:
s = input()
p = re.search('[A-Za-z0-9]',s)
print(p)

vin645cgs
['v', 'i', 'n', '6', '4', '5', 'c', 'g', 's']

In [160]:
s = input()
p = re.search('ab*',s)
print(p)

hit hog ttuv absurd a ffa adsrda
<re.Match object; span=(13, 15), match='ab'>

In [164]:
s = input()
p = re.search('ab+',s)
print(p)

gfdd fdtabbb
<re.Match object; span=(8, 12), match='abbb'>

In [167]:
s = input()
p = re.search('ab?',s)
print(p)

hvytf abbbbcyg abcyuft
<re.Match object; span=(15, 18), match='abc'>

In [169]:
s = input()
p = re.search('ab{2,3}',s)
print(p)

jbxsyvyuo ahbhavabba
<re.Match object; span=(16, 19), match='abb'>

In [173]:
s = input()
p = re.search('[a-z]_{1}[a-z]',s)
print(p)

crd div yftdsyt____yvtydyt bug_vc
<re.Match object; span=(29, 32), match='g_v'>

In [187]:
class yourclass:
    def __init__(self,marks,name):
        self.marks = marks
        self.name = name
    def display(self):
        print(self.marks)
        print(self.name)
v = yourclass(97,'vin')
v.display()
print(v.__init__(67,'he'))
v.display()

97
vin
None
67
he

In [190]:
d = dict()
d[1]=1
d[2]=2
d[3]=3
d

{1: 1, 2: 2, 3: 3}

In [193]:
d = {}
n = int(input("Number of values : "))
for i in range(1,n+1):
    j = input(f'Enter value-{i} : ')
    if j.isdigit():
        d[i]=int(j)
    else:
        d[i]=j

Number of values : 5
Enter value-1 : 2
Enter value-2 : 4
Enter value-3 : hello
Enter value-4 : vinay
Enter value-5 : 100

In [194]:
d

{1: 2, 2: 4, 3: 'hello', 4: 'vinay', 5: 100}

In [197]:
k = int(input('Enter the key : '))
print(f'd[{k}] = {d[k]}')

Enter the key : 3
d[3] = hello

In [199]:
k = int(input('Enter the key : '))
print(f'd[{k}] = {d.get(k)}')

Enter the key : 4
d[4] = vinay

In [202]:
n = int(input("Enter the limit : "))
l=[]
for i in range(1,n+1):
    j = int(input(f"enter number - {i} : "))
    if j%2==0:
        l.append(j)
print(l)

Enter the limit : 3
enter number - 1 : 5
enter number - 2 : 2
enter number - 3 : 8
[2, 8]

In [217]:
n = int(input("Enter the limit : "))
l=[]
for i in range(1,n+1):
    j = int(input(f"enter number - {i} : "))
    l.append(j)

Enter the limit : 4
enter number - 1 : 1
enter number - 2 : 2
enter number - 3 : 3
enter number - 4 : 4

In [214]:
l

[1, 2, 3, 4]

In [206]:
l.clear()
l

[]

In [215]:
del l

In [218]:
m = int(input("enter the location to remove : "))
l.pop(m)
l

enter the location to remove : 2

[1, 2, 4]

In [219]:
print(l)
n = int(input("Enter the number of elements to remove : "))
for i in range(n):
    k = int(input("enter the element to be removed : "))
    l.remove(k)

[1, 2, 4]
Enter the number of elements to remove : 2
enter the element to be removed : 1
enter the element to be removed : 4

In [220]:
l

[2]

In [222]:
l = [1,2,3,2,4,3,5,4,6,5,6,7,4,5,6,8,4,5,6,9,0,7,8,1,3,4,5,7,6,4,5,7,8,9,0]
n = int(input("Enter a number : "))
c = l.count(n)
print(f'The number {n} occured {c} times')

Enter a number : 4
The number 4 occured 6 times

In [225]:
l = [2,5,3,4,7,8,9,0,1]
n = int(input("Enter a number to search : "))
p = -1
for i in range(len(l)):
    if l[i]==n:
        p=i
        break
if p==-1:
    print("Number is not in list")
else:
    print(f'The number {n} is at index {p}')

Enter a number to search : 5
The number 5 is at index 1

In [227]:
l = list(map(int,input("Enter the numbers seperated by spaces : ").split()))
print(f"The mean of list is {sum(l)/len(l)}")

Enter the numbers seperated by spaces : 1 2 3
The mean of list is 2.0

In [229]:
l = list(map(int,input("Enter the numbers seperated by spaces : ").split()))
print(f'The minimum number is {min(l)} and it is at index {l.index(min(l))}')

Enter the numbers seperated by spaces : 3 2 5 6 1 7 0 4 5 67
The minimum number is 0 and it is at index 6

In [230]:
l = list(map(int,input("Enter the numbers seperated by spaces : ").split()))
i = 0
while i<len(l)-1:
    if l[i]%7==0:
        l[i],l[i+1]=l[i+1],l[i]
        i+=2
    else:
        i+=1
print(l)

Enter the numbers seperated by spaces : 3 21 5 6 14 8 14 3
[3, 5, 21, 6, 8, 14, 3, 14]